body{
    margin: 20px;
    font-family:Garamond;
}

.avatar{
    width: 150px;
    border: 1px solid #2e4057;
}

.card{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    width: 400px;
    margin: 0 auto;
    text-align: center;
    color: #2b2839 ;
    background-color:#f6d8ae ;
    font-size: large;
    border: 2px solid #2e4057;
    border-bottom: 6px solid #2e4057;
    border-radius: 10px;
}